<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="33" android:compileSdkVersionCodename="13" package="com.example.u7e5f3218e9" platformBuildVersionCode="33" platformBuildVersionName="13">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application android:extractNativeLibs="false" android:icon="@mipmap/ic_launcher" android:label="喵喵助手" android:roundIcon="@mipmap/ic_launcher_round" android:theme="@style/HerGeneratedTheme">
        <activity android:exported="true" android:name="com.example.u7e5f3218e9.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:exported="false" android:name="com.example.u7e5f3218e9.CatFloatService"/>
    </application>
</manifest>
